<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Address Book</title>
    </head>
    <body>
        <h1>Your contact has been added!</h1>
        <h3 data-th-text="${id}"></h3>
        <h3 data-th-text="${name}"></h3>
        <h3 data-th-text="${email}"></h3>
        <h3 data-th-text="${phoneNumber}"></h3>
    </body>
</html>